/* #region Сброс минимум (минимальный) */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* #endregion Сброс минимум (минимальный) */

/* #region Шрифты */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* .lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
} */

/* #endregion Шрифты */

/* #region Общие стили */

body {
  font-family: "Lato", sans-serif;
}

.container-w1920 {
  max-width: 1950px;
  /* 1920+2*15*/

  width: stretch;
  /* взамен width: 100%; */

  margin: 0 auto;
  padding: 0 15px;
}

.container-w1370 {
  max-width: 1400px;
  /* 1370+2*15*/

  width: stretch;
  /* взамен width: 100%; */

  margin: 0 auto;
  padding: 0 15px;
}

/* #endregion Общие стили */

/* #region Section-01 */

.section-01__content {
  padding-top: 175px;
  min-height: 895px;
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* Фон заполнит всю доступную ширину */

  /*background-position: center top; /~ горизонтально по центру, вертикально сверху ~/*/
  background-position-x: center;
  background-position-y: top;

}

.section-01__content h1 {
  font-size: 65px;
  font-weight: bold;
  font-family: Georgia, serif;
  /* Georgia мы не подключали, он должен быть сразу в компе пользователя, а serif это стандартный самый простой шрифт с засечками, который применится если шрифт Georgia не сработает */
  color: #01996d;
  max-width: 440px;
  margin-top: 0;
}

.section-01__content p {
  font-size: 20px;
  max-width: 420px;
  color: #484848;
  height: 123px;
  margin-bottom: 18px;
}

.section-01__content button {
  width: 227px;
  height: 65px;
  border-radius: 4px;
  padding: 20px 40px;
  background-color: #01996D;
  border: none;
  cursor: pointer;

  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #fff;
}

/* #endregion Section-01 */

/* #region Footer */
.footer {}

.footer-content {
  background-color: #245852;
  padding: 95px 0;
}

.footer__logo {
  margin-bottom: 60px;
}

.footer__nav {}

.footer__nav ul li a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  /*margin-bottom: 60px; /~ у ссылок margin-bottom не сработал, поэтому мы его укажем для li ~/*/
}

.footer__nav ul li a:hover {
  opacity: 0.8;
}

.footer__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__nav ul li {
  margin-bottom: 60px;
}

.footer__nav ul li:last-child {
  margin-bottom: 0;
}


/* #endregion Footer */