/* #region Сброс минимум (минимальный) */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* #endregion Сброс минимум (минимальный) */

/* #region Шрифты */

/* .lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
} */

/* #endregion Шрифты */

/* #region Общие стили */

body {
  font-family: "Lato", sans-serif;
}

.container-w1920--common {
  max-width: 1920px;

  width: stretch;
  /* взамен width: 100%; */

  margin: 0 auto;
}

.container-w1370--common {
  max-width: 1400px;
  /* 1370+2*15*/

  /* width: stretch; */
  /* взамен width: 100%; */

  margin: 0 auto;
  padding: 0 15px;
}

.btn--find-your-way--common {
  width: 227px;
  height: 65px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #01996D;
  border: none;
  cursor: pointer;

  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #fff;
}

/* #endregion Общие стили */

/* #region Header */
.header {}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 85px;
  flex-wrap: wrap;
  gap: 15px;
}

.header__top-logo {
  margin-right: 15px;
}

/* #region header__nav */

.header__nav {
  max-width: 686px;
  width: 100%;
  padding-right: 115px;

}

.header__nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
  padding-left: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__nav-a {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #292929;
  padding-right: 15px;
}

/* #endregion header__nav */

/* #region auth-block */
.header--auth-block {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.auth-block__sing-in {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-right: 22px;
}

.auth-block__trial-btn {
  width: 183px;
  height: 52px;
  border-radius: 4px;
  background-color: #01996D;
  border: none;
  cursor: pointer;

  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #fff;
  padding-top: 5px;
}

/* #endregion auth-block */


/* #endregion Header */

/* #region Section-01 */

.section-01__content {
  padding-top: 175px;
  min-height: 895px;
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* Фон заполнит всю доступную ширину */

  /*background-position: center top; /~ горизонтально по центру, вертикально сверху ~/*/
  background-position-x: center;
  background-position-y: top;

}

.section-01__content h1 {
  font-size: 65px;
  font-weight: bold;
  font-family: Georgia, serif;
  /* Georgia мы не подключали, он должен быть сразу в компе пользователя, а serif это стандартный самый простой шрифт с засечками, который применится если шрифт Georgia не сработает */
  color: #01996d;
  max-width: 440px;
  margin-top: 0;
  margin-bottom: 33px;
}

.section-01__content p {
  font-size: 20px;
  max-width: 420px;
  color: #484848;
  line-height: 145%;
  margin-bottom: 52px;
}

/* #endregion Section-01 */

/* #region Section-02 */

/* #region s02 Общее */
.section-02 {}

.section-02--content {
  padding-top: 168px;
  padding-bottom: 48px;
}

/* #endregion s02 Общее */

/* #region s02 section--How-it-works */
.section--How-it-works {
  margin-bottom: 53px;
}

.section--How-it-works__title-01 {
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
  color: #424242;
}

.section--How-it-works__flex {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

.section--How-it-works__title-02 {
  font-family: Georgia, serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996d;
  max-width: 585px;
}

.section--How-it-works__p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;

  max-width: 660px;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
  padding-top: 22px;
  padding-left: 10px;
  letter-spacing: 0.15px;
}

/* #endregion s02 section--How-it-works */

/* #region section-02--3-blocks */

/* #region Общее */
.section-02--3-blocks {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* #endregion Общее */

/* #region block-01 */
.section-02--3-blocks__block-01 {
  width: 390px;
}

.group-01 {
  display: flex;
  margin-bottom: 10px;
}

.group__h1 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  color: rgba(1, 153, 109, 0.2);
  align-content: baseline;
}

.group-01__h4 {
  font-family: Georgia, serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #000;
  align-content: end;

  /* смещение */
  position: relative;
  left: -68px;
  bottom: 46px;
}

.item-01--p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;

  letter-spacing: 0.15px;
  margin-bottom: 59px;
}

.item-01--img {
  height: auto;
  width: 100%;
}

/* #endregion block-01 */

/* #region block-02 */
.section-02--3-blocks__block-02 {
  padding-top: 286px;
  width: 390px;
  position: relative;
  left: 4px;
}

.group-02 {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: nowrap;
}

.group-02__h4 {
  font-family: Georgia, serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #000;
  align-content: end;

  /* смещение */
  position: relative;
  left: -95px;
  bottom: 46px;
  text-wrap: nowrap;
}

.item-02--p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;

  letter-spacing: 0.15px;
  margin-bottom: 37px;
}

.item-02--img {
  height: auto;
  width: 100%;
}

/* #endregion block-02 */


/* #region block-03 */
.section-02--3-blocks__block-03 {
  padding-top: 54px;
  position: relative;
  left: 10px;
}

.group-03 {
  display: flex;
  position: relative;
  left: 7px;
}

.group-03__h4 {
  font-family: Georgia, serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #000;
  align-content: end;

  /* смещение */
  position: relative;
  left: -50px;
  bottom: 46px;
  text-wrap: nowrap;
}

.item-03--p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;

  letter-spacing: 0.15px;
  margin-bottom: 48px;
}

.item-03--img {
  position: relative;
  left: 2px;

  height: auto;
  width: 100%;
  max-width: fit-content;
}

/* #endregion block-03*/

/* #endregion section-02--3-blocks */

/* #region @media */

@media screen and (width <=826px) {

  .section-02--3-blocks__block-02 {
    padding-top: 0px;
  }

  .section-02--3-blocks__block-03 {
    padding-top: 0px;
  }

}

/* #endregion @media */

/* #endregion Section-02 */

/* #region Section-03 */

.section-03 {}

.section-03--background-block {
  background-color: #245852;
  min-height: 922px;
}

/* контейнер для секции 3 */
.container-w1506-s03 {
  max-width: 1536px;
  /* 1506+2*15*/

  /* width: stretch; */
  /* взамен width: 100%; */

  margin: 0 auto;
  padding: 0 15px;
}

.s03--content {
  display: flex;
  align-items: center;
  padding-top: 229px;
  gap: 56px;
  flex-wrap: wrap;
}

.s03--content-left {}

.s03--content-left__title-01 {
  font-family: Georgia, serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #fff;
  margin-bottom: 31px;
}

.s03--content-left__h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: #fff;
  margin-bottom: 58px;
}

.s03--content-left__btn {
  border: none;
  border-radius: 4px;
  width: 240px;
  height: 65px;
  background: #01996d;

  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #fff;
}

.section-03--content-right {}

.section-03__video {
  height: auto;
  width: 100%;
  /* еще больше контроля с max-width */
  /* max-width: 896px; */
}

/* #endregion Section-03 */

/* #region section-04 */

.section-04 {}

.section-04--content {
  padding-top: 120px;
  min-height: 936px;
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.s04--content-left {
  padding-left: 140px;
  padding-right: 20px;
  width: 100%;
  max-width: 800px;
  max-height: 816px;
}

.s04-image1 {
  height: auto;
  max-height: fit-content;

  width: 100%;
  max-width: fit-content;
}

/* #region mini-card */

.s04--content-left--card {
  max-width: 296px;
  width: 100%;

  max-height: 293px;
  height: 100%;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgba(165, 165, 165, 0.25);

  position: relative;
  left: -60px;
  top: -223px;

}

.s04--content-left--card__title01 {
  font-weight: 600;
  font-size: 14px;
  line-height: 157%;
  color: #000;
  text-align: center;
  padding-top: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 7px;
}

.s04--content-left--card__underline {
  width: 110px;
  height: 1px;
  background-color: #000;
  margin: 0 auto;
  margin-bottom: 13px;
}

.s04--content-left--card__img2 {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}

.s04--content-left--card__name {
  text-align: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 157%;
  color: #000;
  margin-bottom: 21px;
}

.s04--content-left--card__title02 {
  font-family: Georgia, serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 157%;
  color: #000;
  text-align: center;
  letter-spacing: 0.50px;
  padding-left: 8px;
  margin-bottom: 19px;
}

.s04--content-left--card__li {
  font-weight: 400;
  font-size: 10px;
  line-height: 157%;
  color: #000;
  letter-spacing: 0.20px;
  margin-left: 32px;
  margin-bottom: 16px;
}

/* #endregion mini-card */

.s04--content-right {
  padding-left: 49px;
  padding-right: 20px;
  width: 100%;
  max-width: 715px;
}

.s04--content-right__h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 158%;
  color: #424242;
  margin-bottom: 10px;
}

.s04--content-right__h1 {
  font-family: Georgia, serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996d;
  padding-left: 1px;
  margin-bottom: 22px;
}

.s04--content-right__p {
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  color: #484848;
  letter-spacing: 0.12px;
  margin-bottom: 33px;
}


/* #endregion section-04 */

/* #region Footer */
.footer {
}

.footer-content {
  background-color: #245852;
  padding: 103px 0;
  min-height: 654px;
}

.footer__logo {
  margin-bottom: 72px;
}

.footer__nav {}

.footer__nav ul li a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  /*margin-bottom: 60px; /~ у ссылок margin-bottom не сработал, поэтому мы его укажем для li ~/*/
}

.footer__nav ul li a:hover {
  opacity: 0.8;
}

.footer__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__nav ul li {
  margin-bottom: 60px;
}

.footer__nav ul li:last-child {
  margin-bottom: 0;
}


/* #endregion Footer */